* {
   margin: 0;
   padding: 0;
}

h1,
h2 {
   color: #0068A4;
}

nav {
   position: relative;
   bottom: 70px;
   left: 500px;
}

.navBackground {
   background-color: #0068A4;
   ;
   position: sticky;
   top: 0px;
   height: 70px;
}

.navBackground img {
   padding: 20px;
}

ul {
   list-style: none;
   font-size: 0;
}

li {
   display: inline-block;
   width: 15%;
   position: relative;
   font-size: 2rem;
}

ul ul {
   position: relative;
   display: none;
}

ul ul li {
   display: block;
   width: 200px;
   padding: 10px;
}

ul ul li a {
   color: F7F9FB;
}

ul li:hover ul {
   position: absolute;
   display: block;
   background-color: D9D9D9;
}

body {
   overflow-x: hidden;
}

.flex-container-servicios {
   display: flex;
   padding: 20px;
   flex-direction: row;
}

.flex-container-portafolio {
   display: flex;
   padding: 20px;
   flex-direction: row;
}